*{
	margin: 0;	
	font-family:"Oswald";
}
.content {
	width: 100%;
	height: 500px;
	margin: 0;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
    background-size: 100% 500px;
}
nav a{
	text-decoration: none;
	position: relative;
	left: 45%;
	padding: 10px;
	color: #000;
}
.michi{
	height: 50px;
	position: relative;
	left: 47%;
	padding: 20px;
}
#kiri {
	font-size: 35px;
}
h2 {
	text-align: center;
	color: #fff;
}